@import "./default.css";
@import "./feed-item.css";
@import "./login.css";

body{
    
}

main{
    display:flex;
    justify-content: center;
    padding: 0 5%;
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 850px;
    flex: 1;
}

.cover {
    height: 250px;
    background-image: url(../images/bg-login.jpg);
    background-position: center;
    background-size: cover;
}


.profile-header--infos{
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    padding: 20px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-header--infos_leftside{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-header--infos__pic img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.profile-header--infos__about{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-header--infos__about--name{
    font-weight: 700;
    font-size: 18px;
    color: var(--black-color);
}

.profile-header--infos__about--local{
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile-header--infos__rightside{
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-header--infos__amount{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header--infos__amount--quantity{
    font-weight: 700;
    font-size: 20px;
    color: var(--black-color);
}

.profile-header--infos__amount--name{
    color: var(--primary-color);
}

.profile-body{
    display: flex;
    gap: 20px;
}

.profile-body--leftside{
    background-color: var(--white-color);
    border: 1px solid var(--border-color);
    width: fit-content;
    height: fit-content;
    padding: 20px;
    flex: 1;
}



.profile-body--about{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile-body--about__info span{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--secundary-color);
}

.profile-body--about__info.edit .profile-button{
    background-color: var(--primary-color);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--white-color);
    transition: 0.2s;
    margin-left: 10px;
    font-size: 12px;
}

.profile-body--about__info.edit .profile-button:hover{
    background-color: var(--secundary-color);
}

#profile-follow, #profile-edit{
    display: none;
}

.profile-body--rightside{
    flex: 2;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.edit-profile-row{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    color: var(--black-color);
}
.edit-profile--user__pic{
    display: flex;
    justify-content: center;
}

.edit-profile--user__pic img{
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.edit-profile--user__cover{
    display: flex;
    justify-content: center;
}

.edit-profile--user__cover img{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
}

@media (max-width:800px){
    
    main{
        padding: 0 2%;
    }

    .profile-header--infos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }

    .profile-header--infos_leftside{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .profile-header--infos__about{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-body--leftside{
        display: none;
    }
    
}

