@import './default.css';


body{
    background-color: var(--bg-color);
}

header{
    height: 60px;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 4px #444;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.menu-right-side{
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo h1{
    font-size: 24px;
    
}

.logo h1 a {
    text-decoration: none;
    color: var(--black-color);
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9435F;
    border-radius: 5px;
    height: 25px;
    width: 200px;
    transition: 0.2s;
}

.search-box.focus{
    width: 400px;
    background-color: var(--white-color);
}


.search-box input{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px;
    width: 100%;
}

.search-box input::placeholder{
    color: #aaa;
}

.search-box i{
    margin-right: 5px;
    width: 16px;
    cursor: pointer;
    color: var(--black-color);
    display: none;
}

.search-icon i{
    width: 16px;
    color: var(--primary-color);
    display: block;
}


.search-icon{
    height: 100%;
    background-color: #ccc;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

i.menu-mobile{
    display: none;
    color: var(--white-color);
}

.menu-profile{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.menu-profile img{
    width: 32px;
    height: 32px;
    border-radius:50%;
}

.menu-profile span{
    font-weight: bold;
    font-size: 14px;
    color: var(--black-color);
}

.menu-profile i{
    color: var(--black-color);
    transform: rotate(-90deg);
    transition: 0.2s;
}

.menu-profile:hover i{
    transform: rotate(0deg);
}

@media (max-width: 760px){
    header{
        padding: 0 2%;
    }
    .menu-right-side{
        width: 100%;
        gap: 0px;
        justify-content: space-between;
    }
    
    .logo h1{
       font-size: 22px;
    }

    .menu-wrapper{
        display: flex;
        align-items: center;
        gap: 15px;
        
    }

    i.menu-mobile{
        display: block;
        color: var(--white-color);
        transform: rotate(0deg);
        transition: 0.3s;
        cursor: pointer;
    }

    i.menu-mobile:hover{
        transform: rotate(90deg);
    }

    .menu-left-side{
        display: none;
    }
}

main{
    display: flex;
    padding: 50px 5%;
}

/*LEFT SIDE*/
.main-left-side{
    background-color: var(--white-color);
}

.profile-infos{
    width: 250px;
    border: 1px solid #ccc;
}

.profile-cover{
    background-color: var(--primary-color);
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

.profile-pic--circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -30px;
    width: 94px;
    height: 94px;
    border-radius: 50%;
    background-color: var(--white-color);
    cursor: pointer;
}

.profile-pic--circle img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.profile-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}


.profile-about span{
    color: #aaa;
}

.profile-about .profile-name{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

.profile-follow{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    margin: 20px 0;

}

.profile-follow{
    font-weight: bold;
    color: #444;
}

.view-my-profile{
    margin: 20px 0;
    text-align: center;
}

.view-my-profile a{
    font-weight: bold;
    text-decoration: none;
    color: var(--primary-color);
}


/*POST AREA*/